main {
  position: relative;
}
#utils {
  position: absolute;
  top: 0;
  left: 0;
}
Img {
  margin: 0.2em;
  width: 50%;
  height: 100%;
}
h1{
  position: relative;
  left: 50%;
}
.board-container {
  justify-content: space-evenly;
  background-color: #a3ddcb;
  text-align: center;
  margin: auto;
  width: 70vw;
  height: 70vh;
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .players {
    border: solid black 1px;
    margin: 1em;
  }
  #player4 {
    grid-area: 3 / 10 / 11 / 13;
  }
  #player3 {
    grid-area: 1 / 5 / 4 / 9;
  }
  #player2 {
    grid-area: 3 / 1 / 11 / 4;
  }
  #player1 {
    grid-area: 9 / 5 / 13 / 9;
  }
  #mainTable {
    border: solid black 1px;
    grid-area: 4 / 4 / 9 / 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #yaniv {
      border: solid black 1px;
      margin-right: 1em;
    }
  }
}
